* {
  padding: 0;
  margin: 0;
}

.inputDiv input:hover {
  border: 2px solid rgb(98, 98, 175);
  border-radius: 5px;
}

.inputDiv input {
  border: 2px solid rgb(201, 199, 199);
  border-radius: 10px;
}



.imagenMyAccount {
  width: 400px;
  height: 300px;
}

.headerNav {
  background-color: rgb(92, 92, 223);
}


.botonesSideBar:hover {
  cursor: pointer;
  border-top: 0.5px solid black;

}

.botonesSideBar:focus {
  border: 5px;
}

.navBars {
  width: 30px;
  height: 40px;
}

.navBars:hover {
  cursor: pointer;
}

.bgMenu {

  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(240, 236, 236);
}

.botonNew {
  background-color: rgb(79, 202, 116);
  border: 0;
  padding: 10px;
  width: 100px;
  color: white;
  border-radius: 5px;
}

.dollarCard {
  height: 37px;
  width: 40px;
  margin-right: 10px;
}

.dollarSignNew {
  height: 18px;
  margin-right: 5px;
}

.imgTest {
  width: 75px;
}



/* Bank Accouts Account */
.transactionBankAccountsAccountNumber {
  width: 150px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;


}

.scrollableDiv {
  overflow-y: scroll;
  max-height: 50vh;

}

.sizeDiv {
  width: 16.7vw;
}

.paidTextBankAccount {
  white-space: nowrap;
}

.non-bold {
  font-weight: 100
}

/* USER SIDE BAR */
.sideBarText {
  font-size: 1.2vw;
}


.sideBarDivHover:hover .sideBarText {
  transition: all 0.2s ease;

  font-weight: bold;
}

.sideBarDivHover:active .sideBarText {
  transition: all 0.2s ease;

  font-weight: bold;
}


.profileIMG {
  width: 60px;
  height: 60px;
}

.responsiveUserData {
  display: flex;
  flex-direction: row;
}

.nameUserData {
  margin-left: 5px;
  padding: 5px;
}

.amountBalance {
  font-size: 2vw;
}

@media screen and (max-width: 1200px) {
  .responsiveUserData {
    flex-direction: column;
  }

  .nameUserData {
    padding: 0;
    margin: 0;
  }
}